/* Landing Page */
.landing-page {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.landing-page img{
    width: 100%;
}
/* ------------------------------ */
/* ------------------------------ */
/* Landing Page 2 */
.landing-page-2{
    padding: 30px 10%;
}

.lp-main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lp-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lp-left h1,h3{
    font-family: 'Agatho';
    font-weight: 100;
    text-align: left;
}

.lp-left h1{
    /* font-size: 3vw; */
    font-size: 50px;
    line-height: 0.8;
}

.lp-left h3{
    padding-top: 20px;
    font-size: 38px;
}

.lp-button-div{
    display: flex;
    justify-content: left;
    gap: 10px; 
    padding-top: 25px;
}

.lp-button{
    margin-left: 0px;
}

.lp-right{
    display: flex;
    justify-content: right;
    align-items: center;
}

.lp-right img{
    max-width: 100%;
    max-height: 500px; 
    object-fit: contain; 
}
/* ------------------------------ */
/* ------------------------------ */
/* Template Code */
.page-h1{
    font-family: 'Agatho';
    text-align: center;
    font-size: 32px;
}
/* ------------------------------ */
/* ------------------------------ */
/* About Page */
.about-page{
    padding: 30px 10%;
    background-color: #FAFAFA;
}

.ap-main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ap-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

.ap-left img{
    max-width: 100%;
    max-height: 600px; 
    object-fit: contain;
    border-radius: 20px;
}

.ap-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ap-right p{
    line-height: 2;
    padding: 25px;
    text-align: justify;
    font-size: 16px;
}
/* ------------------------------ */
/* ------------------------------ */
.treatment-page{
    padding: 30px 10%;
}

.tp-main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tp-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tp-left p{
    line-height: 2;
    padding: 25px;
    text-align: justify;
    font-size: 16px;
}

.tp-right{
    display: flex;
    justify-content: end;
    align-content: center;
}

.tp-right img{
    max-width: 100%;
    max-height: 600px; 
    object-fit: contain;
    border-radius: 20px;
}
